.input-wrapper{
  display: flex;
  flex-direction: column;
  margin: 0.3rem 0rem;
}
.label-wrapper{
  text-transform:capitalize;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.custom-input{
  border-width: 0;
  border-bottom: 1px solid #4226f8;
  padding: 0.2rem 0rem;
  width: 100%;
  font-size: 0.8rem;
  opacity: 1;
}
.custom-input:focus{
  outline: none;
  opacity: 1;
  transition: all 0.2s;
}
.custom-input::placeholder{
  color: grey;

}