.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  width: 90vw;
  margin:0 auto 2rem;
}

.line-chart,
.pie-chart {
  flex: 1 1 45%;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  min-width: 300px;
}

.line-chart h2,
.pie-chart h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.charts-unavailable-message {
  display: none; /* hidden by default */
}


/* Wrap charts on screens smaller than 1024px */
@media screen and (max-width: 1024px) {
  .charts-wrapper {
    flex-direction: column;
    align-items: center;
  }
}

/* Optional: hide on small screens */
@media screen and (max-width: 768px) {
  .charts-wrapper {
    display: none;
  }
  .charts-unavailable-message {
    width: 90vw;
    display: block;
    text-align: center;
    margin: 0.5rem auto;
    font-size: 1rem;
    color: #666;
  }
}
