
.navbar{
  background-color: rgb(29, 30, 30);
  position: sticky;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 5%;
  color: white;
  z-index: 999; 
}

.logo{
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 0;
}

.logout{
  opacity: 0.7;
  cursor: pointer;
  color:#e11d48 ;
  margin: 0px;
  height: 2rem;
  width: 2rem;
  transition: transform 0.3s ease;

}
.logout svg{
  width: 2rem;
  height: 2rem;
}
.logout:hover{
  transform: scale(1.1);
  opacity: 1;

}
.right{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}

.profile-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.profile-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  background-color: var(--theme);
  display: flex;
  color: white;
  font: bold;
  font-size: large;
}